<?xml version="1.0"?>
<model>
  <name>Pars</name>
  <version>1.0</version>
  <sdf version="1.5">pars.sdf</sdf>

  <author>
   <name>Huseyin ERDEM and Halit GURPINAR</name>
   <email>rootofarch@gmail.com</email>
  </author>

  <description>
    This is a model of the hydrogen vehicle pars.
  </description>
</model>
