<?xml version="1.0"?>
<launch>
  <arg name="robot_name" value="angelshark"/>

  <include file="$(find angelshark)/launch/bringup.launch">
    <arg name="robot_name" default="$(arg robot_name)"/>
  </include>
  
  <node name="angelshark_keyboard_teleop" pkg="angelshark" type="angelshark_keyboard_teleop.py" respawn="true" output="screen">
    <param name="topic" type="string" value="/angelshark/cmd_vel" />
  </node>
</launch>
