<?xml version="1.0"?>
<launch>

    <arg name="name_of_world" default="pist1_construct"/>
    <arg name="world" default="$(find angelshark_sim)/worlds/$(arg name_of_world).world"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="true"/>
    <arg name="rvizconfig" default="$(find angelshark_sim)/rviz/angelshark.rviz" />
    <arg name="controller" default="false"/>
    <arg name="controller_type" default="joy"/>

    <include file="$(find angelshark_sim)/launch/include/empty_world.launch.xml">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="38.04"/>
        <arg name="y" value="35.36"/>
        <arg name="z" value="1.5"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="-3.18294"/>
        <arg name="controller" value="$(arg controller)"/>
        <arg name="controller_type" value="$(arg controller_type)"/>
    </include>
    
    <node pkg="angelshark_deeplearning" type="predictor_laser.py" name="predictor_laser" respawn="true" />
</launch>
