<?xml version="1.0"?>
<launch>

    <arg name="name_of_world" default="empty"/>
    <arg name="world" default="$(find angelshark_sim)/worlds/$(arg name_of_world).world"/>
    <arg name="gui" default="true"/>
    <arg name="verbose" default="false"/>
    <arg name="rvizconfig" default="$(find angelshark_sim)/rviz/angelshark.rviz" />
    <arg name="controller" default="false"/>
    <arg name="controller_type" default="joy"/>

    <include if="$(eval arg('name_of_world') == 'empty')" file="$(find angelshark_sim)/launch/include/empty_world.launch.xml">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="world" value="$(arg world)"/>
        <arg name="controller" value="$(arg controller)"/>
        <arg name="controller_type" value="$(arg controller_type)"/>
    </include>
    
    <include if="$(eval arg('name_of_world') == 'pist1_construct')" file="$(find angelshark_sim)/launch/include/empty_world.launch.xml">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="38.04"/>
        <arg name="y" value="35.36"/>
        <arg name="z" value="1.5"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="-3.18294"/>
        <arg name="controller" value="$(arg controller)"/>
        <arg name="controller_type" value="$(arg controller_type)"/>
    </include>

    <include if="$(eval arg('name_of_world') == 'mcity')" file="$(find angelshark_sim)/launch/include/empty_world.launch.xml">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="16.31"/>
        <arg name="y" value="-221.63"/>
        <arg name="z" value="1.5"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="-0.628294"/>
        <arg name="controller" value="$(arg controller)"/>
        <arg name="controller_type" value="$(arg controller_type)"/>
    </include>
    
    <include if="$(eval arg('name_of_world') == 'citysim' or  arg('name_of_world') == 'citysim_without_car')" file="$(find angelshark_sim)/launch/include/empty_world.launch.xml">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="rvizconfig" value="$(arg rvizconfig)" />
        <arg name="world" value="$(arg world)"/>
        <arg name="x" value="-40.057703"/>
        <arg name="y" value="0"/>
        <arg name="z" value="5.063065"/>
        <arg name="roll" value="0.0"/>
        <arg name="pitch" value="0.0"/>
        <arg name="yaw" value="-1.575650"/>
        <arg name="controller" value="$(arg controller)"/>
        <arg name="controller_type" value="$(arg controller_type)"/>
    </include>
    
    <node pkg="angelshark_sim" type="traffic_lights_control.py" name="traffic_lights_control" if="$(eval arg('name_of_world') == 'citysim' or  arg('name_of_world') == 'citysim_without_car')" />

</launch>
