<?xml version="1.0"?>
<launch>

    <include file="$(find angelshark_sim)/launch/angelshark_sim.launch">
        <arg name="name_of_world" default="pist1_construct"/>
    </include>

    <node pkg="angelshark_sim" name="ackermann_drive_keyop_node" type="angelshark_keyboard_teleop.py" respawn="true" output="screen" ></node>
        
</launch>
