<?xml version="1.0"?>
<launch>
    <!-- world configs -->
    <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find angelshark_sim)/models"/>
    <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find angelshark_sim)/models"/>

    <arg name="gui" default="false"/>
    <arg name="verbose" default="true"/>

    <include file="$(find angelshark_sim)/launch/pist1_construct.launch">
        <arg name="gui" value="$(arg gui)"/>
        <arg name="verbose" value="$(arg verbose)"/>
    </include>

    <!--angelshark_sim Keyboard Teleop Node-->
    <node pkg="angelshark_sim" name="ackermann_drive_keyop_node" type="angelshark_keyboard_teleop.py" respawn="true" output="screen" ></node>
    
    <node pkg="angelshark_sim" name="angelshark_img_show" type="show_image.py" output="screen"></node>
    
</launch>
